SERIAL_PORT=/dev/ttyS4
BAUD_RATE=115200
LOG_TO_FILE=false
FILES_PATH=.
HTTP_PORT=8080
LATITUDE=54
LONGITUDE=18
SCHEDULER_TIME_ZONE=Europe/Warsaw
IMPORT_LIMIT_MAG=12
IMPORT_LIMIT_AMPLITUDE=0.1
IMPORT_MIN_DECLINATION=-30